.NewTodoForm {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}
.NewTodoForm label {
  min-width: 70%;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.NewTodoForm input {
  align-self: center;
  min-width: 100%;
  flex-grow: 1;
  border: none;
  background: #f7f1f1;
  padding: 0 1.5em;
  font-size: initial;
  outline: none;
margin-right: auto;
}
.NewTodoForm button {
  align-self: center;
  margin-top: 1.5rem;
  padding: 0 1.3rem;
  border: none;
  background: #274c77;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.NewTodoForm button:hover {
  background: rgba(0, 0, 0, 0.1);
}
.NewTodoForm input,
.NewTodoForm button {
  font-family: "Quicksand", sans-serif;
  height: 3rem;
}